<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>
        </title>
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/jquery.mobile/1.1.1/jquery.mobile-1.1.1.min.css" />
        <link rel="stylesheet" href="my.css" />
        <style>
            /* App custom styles */
        </style>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/jquery.mobile/1.1.1/jquery.mobile-1.1.1.min.js">
        </script>
        <script src="my.js">
        </script>
    </head>
    <body>
        <!-- Home -->
        <div data-role="page" id="page1">
            <div data-theme="a" data-role="header">
                <h3 id="header">
                    PhilEventing
                </h3>
            </div>
            <div data-role="content">
                <h4 id="title">
                    Art Convention
                </h4>
                <h5 id="category">
                    Category: Art
                </h5>
                <h5 id="date">
                    Date: 11/12/2012
                </h5>
                <h5 id="time">
                    Time: 5:00 p.m
                </h5>
                <h5 id="location">
                    Location: 1810 Liacours Walk Philadelphia, PA 19121
                </h5>
                <img id="map" src="https://maps.googleapis.com/maps/api/staticmap?center=1810%20Liacours%20Walk%20&amp;zoom=14&amp;size=288x250&amp;markers=Philadelphia,%20PA&amp;sensor=false" height="250" width="288" />
                <h5 id="description">
                    Description: Here is the desciption of the event
                </h5>
				<br><br><br>
				 
				 <a data-role="button" data-theme="d" style="height: 40px; width: 120px" href="event.html">
                     Go Back
                </a>
            </div>
            <div data-theme="a" data-role="footer" data-position="fixed">
                <h3 id="footer">
                    2012
                </h3>
            </div>
        </div>
        <script>
            //App custom javascript
        </script>
    </body>
</html>