{% extends "master.html" %}

{% block content %}

{% if post %}
<h1>New user registered successfully</h1>
<p><a data-role="button" data-theme="d" style="height: 40px; width: 180px" href="{% url index %}">
         Go Back Home
    </a></p>
{% else %}
<form method="POST" action='{% url register_new_account %}'>
    {% csrf_token %}
    <div id="header" data-theme="a" data-role="header">
        <h4 id="header">
            Create a New Account
        </h4>
    </div>
    <div data-role="content">
        <div data-role="fieldcontain">
            <fieldset data-role="controlgroup" data-mini="true">
                <label for="userNew">
                    Username :
                </label>
                <input name="username" id="userNew" placeholder="" value="" type="text" />
            </fieldset>
        </div>
        <div data-role="fieldcontain">
            <fieldset data-role="controlgroup" data-mini="true">
                <label for="passNew">
                    Password:
                </label>
                <input name="password" id="passNew" placeholder="" value="" type="password" />
            </fieldset>
        </div>
        <div data-role="fieldcontain">
            <fieldset data-role="controlgroup" data-mini="true">
                <label for="passConNew">
                    Confirm Password:
                </label>
                <input name="c_password" id="passConNew" placeholder="" value="" type="password" />
            </fieldset>
        </div>
        <div data-role="fieldcontain">
            <fieldset data-role="controlgroup" data-mini="true">
                <label for="emailNew">
                    Email:
                </label>
                <input name="email" id="emailNew" placeholder="" value="" type="email" />
            </fieldset>
        </div>
        <input type="submit" value="Create Account" />
	    <br><br>
    	<a data-role="button" data-theme="d" style="height: 40px; width: 180px" href="{% url index %}">
                 Go Back Home
        </a>
    </div>
</form>

{% endif %}
{% endblock %}